{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "useTabs": true,
  "printWidth": 121,
  "objectWrap": "collapse",
  "bracketSameLine": true
}
